<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File</title>
  </head>
  <body>
    <h1>Its file time!</h1>
    <% if (locals.file) { %>
      <div><%= locals.file.displayName %></div>
      <div><%= locals.file.size %> Bytes</div>
      <div><%= locals.file.uploadTime %></div>
      <form action="/file/<%= file.id %>/download" method="Post">
        <button>download</button>
      </form>
    <% } %>
  </body>
</html>
