<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Folder</title>
  </head>
  <body>
    <h1>Hello world!</h1>
    <ul>
      <% if (locals.folders) { %>
        <% locals.folders.forEach((folder) => { %>
          <li>folder: <a href="/folder/<%= folder.id %>"><%= folder.name %></a></li>
        <% }) %>
      <% } %>
      <% if (locals.files) { %>
        <% locals.files.forEach((file) => { %>
          <li>file: <%= file.displayName %></li>
        <% }) %>
      <% } %>
    </ul>
    <form action="/upload" method="POST" enctype="multipart/form-data" class="hidden">
      <label for="upload">Upload File</label>
      <input type="file" name="upload" id="upload">
      <button>Submit</button>
    </form>
  </body>
</html>
