<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello world!</h1>
    <a href="/login">Login</a>
    <% if (locals.currentUser) { %>
      <h2>hi <%= currentUser.username %></h2>
      <a href="/folder/0">View files</a>
    <% } %>
  </body>
</html>
